/* MOBILE APP STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, Arial, sans-serif;
}

body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app-container {
  width: 100%;
  max-width: 430px;
  height: 100vh;
  background: #111;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
}

/* Screens */
.screen, #login-screen {
  display: none;
  flex-direction: column;
  height: 100%;
}

.active-screen {
  display: flex !important;
}

header {
  padding: 18px;
  text-align: center;
  font-size: 20px;
  background: #0d0d0d;
  border-bottom: 1px solid #222;
}

.content {
  padding: 20px;
  overflow-y: auto;
}

/* Cards */
.card {
  background: #1b1b1b;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid #333;
  margin-bottom: 18px;
}

.card h3 {
  margin-bottom: 10px;
  color: #fff;
}

/* Inputs */
input {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  background: #111;
  border: 1px solid #333;
  border-radius: 12px;
  color: #fff;
}

/* Buttons */
.primary {
  width: 100%;
  padding: 12px;
  background: #2e2e2e;
  border: none;
  border-radius: 12px;
  margin-top: 12px;
  color: #fff;
  font-size: 16px;
}

/* Menu inferior */
nav {
  display: flex;
  justify-content: space-around;
  background: #0d0d0d;
  padding: 12px;
  border-top: 1px solid #222;
}

nav button {
  background: none;
  border: none;
  color: #888;
  font-size: 15px;
}

nav button.active {
  color: #fff;
  font-weight: bold;
}
